<nav>
  <div class="container-fluid d-flex justify-content-end border-bottom p-2 ">
    <%= link_to 'Back to list', articles_path, class: "text-decoration-none btn btn-primary" %>
  </div>
</nav>
<div class="container">
<h1> New article</h1>

<%= render 'form', article: @article %>
</div>
